[Unit]
Description=<Description>
After=network.target

[Service]
WorkingDirectory=/home/ubuntu
EnvironmentFile=<EnvironmentFile>
ExecStart=<ExecStart>
Restart=always
User=<User>

[Install]
WantedBy=multi-user.target
