[Unit]
Description=<Description>
After=network.target

[Service]
WorkingDirectory=<WorkingDirectory>
EnvironmentFile=<EnvironmentFile>
ExecStartPre=<ExecStartPre>
ExecStart=<ExecStart>
Restart=always
User=<User>


[Install]
WantedBy=multi-user.target
