[Unit]
Description=<Description>
After=network.target

[Service]
WorkingDirectory=/home/ubuntu
ExecStart=/bin/bash -lc '<ExecStart>'
Restart=always
User=root

[Install]
WantedBy=multi-user.target
